ChequePayments.json
{
  "name": "ChequePayments",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1P3NLjSwZ4x7z_iKdGg7B2blyDF8c6jER",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -912,
        128
      ],
      "id": "c00977d0-dc29-4266-bcb7-c7f2236a0f47",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U7iQf5SgENYDEZn8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -704,
        128
      ],
      "id": "fc3040ad-2623-439a-8e8e-7490fc19c6da",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U7iQf5SgENYDEZn8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "The image has one or more bank cheques. Analyse the image and give the json structure only as response which follows the format. If there are more than one cheques, then there will be one entry for each cheque\n\n{\n  \"onlinetranfer\": [\n    {\n      \"Date\": in dd/mm/yyyy referred from date on the cheque leaf\n      \"ForMonth\": leave blank ,\n      \"To\": refer Pay in the image ,\n      \"Detail\": “Salary”,\n      \"ReferenceID\": cheque number from the bottom or the last line of the cheque leaf image ,\n      \"Amount\": From Amount and should be number,\n      \"Type\": Leave it blank,\n      \"Category\": Leave it blank\n    }\n  ]\n}",
        "inputType": "base64",
        "binaryPropertyName": "=  data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -544,
        128
      ],
      "id": "38bfbccb-7491-4964-bbc0-9fd2974e36b9",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "DmMbVKq60UzKD2QI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst raw = $input.first().json['0'].content[0].text\n\nconst start = raw.indexOf('{');\nconst end = raw.lastIndexOf('}');\n\nlet jsonString = raw.slice(start, end + 1);\n\n// Normalize smart quotes\njsonString = jsonString\n  .replace(/[“”]/g, '\"')\n  .replace(/[‘’]/g, \"'\");\n\n// Remove trailing commas\njsonString = jsonString.replace(/,\\s*([}\\]])/g, '$1');\n\n// Remove non-printable characters\njsonString = jsonString.replace(/[^\\x20-\\x7E\\r\\n\\t]/g, \"\");\n\nconsole.log(\"Sanitized JSON:\", jsonString);\n\nconst parsed = JSON.parse(jsonString);\nreturn parsed;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        128
      ],
      "id": "781674d6-baeb-46b9-8e03-951471dd77b0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dGfSrm3hUfEckIIPh-7IfMszw1GKw9b_4CYZEwTB0j0",
          "mode": "list",
          "cachedResultName": "InvoiceEntry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dGfSrm3hUfEckIIPh-7IfMszw1GKw9b_4CYZEwTB0j0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 288740694,
          "mode": "list",
          "cachedResultName": "OnlineTransfer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dGfSrm3hUfEckIIPh-7IfMszw1GKw9b_4CYZEwTB0j0/edit#gid=288740694"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.onlinetranfer[0].Date }}",
            "To": "={{ $json.onlinetranfer[0].To }}",
            "Detail": "={{ $json.onlinetranfer[0].Detail }}",
            "Amount": "={{ $json.onlinetranfer[0].Amount }}",
            "ReferenceID": "={{ $json.onlinetranfer[0].ReferenceID }}",
            "Type": "={{ $json.onlinetranfer[0].Type }}",
            "Category": "={{ $json.onlinetranfer[0].Category }}",
            "ForMonth": "={{ $json.onlinetranfer[0].ForMonth }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ForMonth",
              "displayName": "ForMonth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "To",
              "displayName": "To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Detail",
              "displayName": "Detail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bank",
              "displayName": "Bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ReferenceID",
              "displayName": "ReferenceID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "1ee6c4a9-3ba1-4ea8-ba72-5318464449f5",
      "name": "AddRowINtoOnlineTransferSheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Vthn9EICaY1TODdi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const filename=$('Google Drive Trigger').first().json.name\n// Get today's date\nconst today = new Date();\n\n// Move to previous month\n\n\n// Get input item\nconst data = $input.first().json;\n\n\n\n// Safety checks\nif (!data.onlinetranfer || !data.onlinetranfer.length) {\n  throw new Error(\"onlinetranfer array not found\");\n}\n\n// Update field\n\ndetail = data.onlinetranfer[0].Detail\ntype=\"Invoice\"\ncategory=\"Salary\"\ndata.onlinetranfer[0].Type = type\ndata.onlinetranfer[0].Category = category\n\nif(type == \"Invoice\"){\n  today.setMonth(today.getMonth()-1);\n}else{\n  today.setMonth(today.getMonth());\n}\n\n\n\n// Month names\nconst months = [\"Jan\", \"Feb\", \"Mar\", \"Apr\", \"May\", \"Jun\", \n                \"Jul\", \"Aug\", \"Sep\", \"Oct\", \"Nov\", \"Dec\"];\n\n// Build MonYYYY\nconst forMonth = `${months[today.getMonth()]}${today.getFullYear()}`;\ndata.onlinetranfer[0].ForMonth = forMonth;\n\n\n\n// You can update more fields if needed\n// data.onlinetranfer[0].Category = \"Fuel\";\n// data.onlinetranfer[0].Type = \"Expense\";\n\n// Return updated object\nreturn [\n  {\n    json: data\n  }\n];\n\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        144
      ],
      "id": "4092465a-1ac6-4f32-bb1f-75cfbdcb0e99",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1dmB7iZfnqOTAl0RiSWpsYT65ONvelT-1",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "0a31dfc0-37f4-408d-aee3-ff6412c4d5e0",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U7iQf5SgENYDEZn8",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AddRowINtoOnlineTransferSheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AddRowINtoOnlineTransferSheet": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8417676f-8256-47e0-82f4-6b9ae567d6fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03f4800f9da5647440e2c6266049bb2eeab55414dc8a7263184e09febd956afb"
  },
  "id": "uVWbALNqSJlOyr2W",
  "tags": []
}