MaintenanceCashPaymentToSecretary.json
{
  "name": "MaintenanceCashPaymentToSecretary",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1gVjRBTC3sRcPGzv-Uru0d4n8TzV9iVV-",
          "mode": "list",
          "cachedResultName": "ToSecretary",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1gVjRBTC3sRcPGzv-Uru0d4n8TzV9iVV-"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a92fde65-bbb9-4e81-b525-6f40f482a0d8",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3wMKGqsl7OANBPIn",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "d7241f78-28f4-43e2-ba02-554fa8cef32f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3wMKGqsl7OANBPIn",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "The image has a online transfer transaciton detail. Analyse the image and give the json structure only as response which follows the format\n\n{\n  “cashexpense”: [\n    {\n      \"PaymentDate\": in dd/mm/yyyy referred from transaction date,\n      \"ForMonth\": leave blank ,\n      \"To\": refer to beneficiary name or the to name in the image ,\n      \"Detail\": refer to Remarks or comments of transaction in the image,\n      \"TransactionID\": Refer invoice number or bill number or transaction id or reference number in the image,\n      \"Amount\": Total amount  including all taxes and should be number,\n      \"Credit/Debit\": “CR”,\n      \"Balance\": Leave it blank, \n\t“Type”:”Transfer”,\n\t“Category”:”Hand Over”\n    }\n  ]\n}",
        "inputType": "base64",
        "binaryPropertyName": "=  data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        368,
        0
      ],
      "id": "0f65a9d6-8392-4eef-bf63-ce5300e29e56",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "Pem2T67DGPJchypL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst raw = $input.first().json['0'].content[0].text\n\nconst start = raw.indexOf('{');\nconst end = raw.lastIndexOf('}');\n\nlet jsonString = raw.slice(start, end + 1);\n\n// Normalize smart quotes\njsonString = jsonString\n  .replace(/[“”]/g, '\"')\n  .replace(/[‘’]/g, \"'\");\n\n// Remove trailing commas\njsonString = jsonString.replace(/,\\s*([}\\]])/g, '$1');\n\n// Remove non-printable characters\njsonString = jsonString.replace(/[^\\x20-\\x7E\\r\\n\\t]/g, \"\");\n\nconsole.log(\"Sanitized JSON:\", jsonString);\n\nconst parsed = JSON.parse(jsonString);\nreturn parsed;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        0
      ],
      "id": "02eef982-a448-43ec-b15f-2717173ae227",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dGfSrm3hUfEckIIPh-7IfMszw1GKw9b_4CYZEwTB0j0",
          "mode": "list",
          "cachedResultName": "InvoiceEntry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dGfSrm3hUfEckIIPh-7IfMszw1GKw9b_4CYZEwTB0j0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1749836951,
          "mode": "list",
          "cachedResultName": "Cashflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dGfSrm3hUfEckIIPh-7IfMszw1GKw9b_4CYZEwTB0j0/edit#gid=1749836951"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "PaymentDate": "={{ $json.cashexpense[0].PaymentDate }}",
            "ForMonth": "={{ $json.cashexpense[0].ForMonth }}",
            "Detail": "={{ $json.cashexpense[0].Detail }}",
            "Vendor": "={{ $json.cashexpense[0].To }}",
            "TransactionID": "={{ $json.cashexpense[0].TransactionID }}",
            "Amount": "={{ $json.cashexpense[0].Amount }}",
            "Credit/Debit": "DR"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "PaymentDate",
              "displayName": "PaymentDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ForMonth",
              "displayName": "ForMonth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Detail",
              "displayName": "Detail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TransactionID",
              "displayName": "TransactionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Credit/Debit",
              "displayName": "Credit/Debit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Balance",
              "displayName": "Balance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        0
      ],
      "id": "11ee19db-be71-4faf-a35f-e626748921e9",
      "name": "AddRowINtoCashFlow",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ongPL1KhsTHawv54",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const filename=$('Google Drive Trigger').first().json.name\n// Get today's date\nconst today = new Date();\n\n// Move to previous month\n\n\n// Get input item\nconst data = $input.first().json;\n\n\n\n// Safety checks\nif (!data.cashexpense || !data.cashexpense.length) {\n  throw new Error(\"cashexpense array not found\");\n}\n\n// Update field\n\n\n/*type=\"\"\nif(detail.toUpperCase().includes(\"EXP\")){\n  type=\"Expense\"\n}else if (detail.toUpperCase().includes(\"INV\")){\n  type=\"Invoice\"\n}\nelse if (detail.toUpperCase().includes(\"TRNSF\")){\n  type=\"Transfer\"\n}\ndata.onlinetranfer[0].Type = type\ncategory=\"\"\nif(detail.toUpperCase().includes(\"RPR\")){\n  category=\"Repair\"\n}else if (detail.toUpperCase().includes(\"SLR\")){\n  category=\"Salary\"\n}\nelse if (detail.toUpperCase().includes(\"ADMIN\")){\n  category=\"Administration\"\n}\nelse if (detail.toUpperCase().includes(\"BSCM\")){\n  category=\"BESCOM\"\n}\nelse if (detail.toUpperCase().includes(\"MNT\")){\n  category=\"Maintenance\"\n}\nelse if (detail.toUpperCase().includes(\"PTY\")){\n  category=\"Petty Cash\"\n}\nelse if (detail.toUpperCase().includes(\"PRPT\")){\n  category=\"Property Tax\"\n}\nelse if (detail.toUpperCase().includes(\"AMC\")){\n  category=\"AMC\"\n}\nelse if (detail.toUpperCase().includes(\"CMP\")){\n  category=\"Compliance\"\n}\ndata.onlinetranfer[0].Category = category*/\n\n\ntoday.setMonth(today.getMonth()-1);\n\n// Month names\nconst months = [\"Jan\", \"Feb\", \"Mar\", \"Apr\", \"May\", \"Jun\", \n                \"Jul\", \"Aug\", \"Sep\", \"Oct\", \"Nov\", \"Dec\"];\n\n// Build MonYYYY\nconst forMonth = `${months[today.getMonth()]}${today.getFullYear()}`;\ndata.cashexpense[0].ForMonth = forMonth;\n\n// Return updated object\nreturn [\n  {\n    json: data\n  }\n];\n\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        0
      ],
      "id": "faa51f06-188e-44e0-bc21-f68684d751ff",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AddRowINtoCashFlow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f8a3a19c-cc6b-4d60-a757-605d07a4468a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b089d7c290c9ddbec1edd25018e08928bb24db9c3002d35fba160cae421a38c"
  },
  "id": "3Rx8foh75fO0KDhA",
  "tags": []
}